// Primary Colors
$primary-orange: hsl(26, 100%, 55%);
$primary-pale-orange: hsl(25, 100%, 94%);

// Neutral
$neutral-900-blue: hsl(220, 13%, 13%);
$neutral-900-gray-blue: hsl(216, 23%, 76%);
$neutral-400-gray-blue: hsl(220, 14%, 75%);
$neutral-300-gray-blue: hsl(223, 64%, 98%);
$neutral-white: hsl(0, 0%, 100%);
$neutral-black: hsl(0, 0%, 0%); // (with 75% opacity for lightbox background)
