@use '../core/variables' as *;
.cart_details {
    z-index: 900;
    display: none;
    width: 300px;
    top: 100px;
    right: 3%;
    box-shadow: 0px 10px 20px rgb(0 0 0 / 30%);
    @media (max-width: 576px) {
        width: auto;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
    }
    h1 {
        color: $neutral-900-blue;
        border-bottom: 2px solid $neutral-300-gray-blue;
    }
    .cart_product {
        > img {
            width: 60px;
        }
    }
    .cart_product_type,
    .cart_product_price_info {
        color: $neutral-900-gray-blue;
    }
    .cart_total_price {
        color: $neutral-900-blue;
    }
    .delete-icon {
        cursor: pointer;
        img {
            width: 30px;
        }
    }
    .checkout-btn {
        background-color: $primary-orange;
        &.rounded-3 {
            border-radius: 1rem !important;
        }
    }
}
