.cart_details.position-absolute.bg-white.rounded-3
    h1.fw-bold.p-3.fs-6 Cart
    .cart_product_wrapper.p-3.d-flex.align-items-center.justify-content-center.flex-column
        .cart_product_container
            //- p.d-none.hidden-msg Your Cart is empty.
            //- .cart_product.d-flex.justify-content-between.align-items-center.mb-3 
        //-         img(class='me-3 rounded-3' src="./assets/images/image-product-1-thumbnail.jpg", alt="image product one thumbnail")       
        //-         .cart_info.flex-wrap.d-flex
        //-             span.cart_product_type.w-100 Fall Limited Edition Sneakers
        //-             p.cart_product_price_info.me-2
        //-                 span.cart_product_price &#36;125 
        //-                 span.cart_product_amount x 3 
        //-             span.cart_total_price.fw-bold  &#36;375.00
        //-         .delete-icon 
        //-             img(src="./assets/images/icon-delete.svg", alt="icon delete")
        //- button.checkout-btn.btn.d-flex.gap-2.justify-content-center.align-items-center.py-3.rounded-3.w-100.text-white.fw-bold Checkout
    