header  
  nav.navbar.navbar-expand-md.navbar-light.bg-white.align-items-center.position-relative
    .container-md.justify-content-lg-start.justify-content-md-between
      .logo-menu-container.d-flex.align-items-center
        a.navbar-brand(href='#')
            span.sr-only website logo 
            img(class="img-fluid" ,src="./assets/images/logo.svg", alt="")
        button.navbar-toggler.order-first(type='button'
            aria-expanded='false'
            aria-label='Toggle navigation')
            span.navbar-toggler-icon
      .navbar-collapse
          ul.navbar-nav.me-auto.gap-3.pb-3.pt-3
            li.nav-item.position-relative
              a.nav-link(href='#') Collections
            li.nav-item.position-relative
              a.nav-link(href='#') Men
            li.nav-item.position-relative
              a.active.nav-link(href='#') Woman
            li.nav-item.position-relative
              a.nav-link(href='#') About
            li.nav-item.position-relative
              a.nav-link(href='#') Contact
      .icons-wrapper.icons-wrapper.d-flex.align-items-center.position-relative
          .cart-icon.position-relative
              button.border-0.p-0.bg-transparent
                  img(class="img-fluid" src="./assets/images/icon-cart.svg" alt="cart icon")
              .cart-number.position-absolute.rounded-pill 0
          .avatar-img 
              button.border-0.p-0.bg-transparent.ms-4
                  img(class="img-fluid rounded-circle" src="./assets/images/image-avatar.png" alt="user profile")
    include cart_details_box
    